
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow authenticated users to get and update individual contracts
    match /contracts/{contractId} {
      allow get, update, write: if request.auth != null;
    }
    // Allow authenticated users to list and create contracts
    match /contracts {
      allow list, create: if request.auth != null;
    }
  }
}
